{% extends 'partials/base.html' %}
{% block title %}Shortlisted{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col-md-8 offset-md-0">
            <div class="card shadow">
                <div class="card-body">
                <form method='POST'>
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input class = "btn btn-info" type="Submit" value="Add Applicant">   
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
